.Rproj.user
.Rhistory
.RData
.Ruserdata
code/__pycache__/heuristicISMCTS.cpython-312.pyc
code/__pycache__/heuristicISMCTS.cpython-312.pyc
code/__pycache__/playGame.cpython-312.pyc
code/__pycache__/heuristicISMCTS.cpython-312.pyc
.DS_Store
code/__pycache__/oh_hell_game.cpython-312.pyc
code/__pycache__/CardHelper.cpython-312.pyc
code/__pycache__/CardHelper.cpython-312.pyc
code/__pycache__/CardHelper.cpython-312.pyc
code/__pycache__/CardHelper.cpython-312.pyc
